.containeer{
    margin-left: 5rem;
    margin-right: 5rem;
}

h1{
    text-align: center;
    font-family: serif;
    font-size: 30px;
    font: weight 200px;;
}

span{
    color: red;
    font-weight: bold;
}

.subtitle{
    font-size: 25px;
}

.text{
    font-size: 20px;
    font-weight: lighter;
    color: #566573 ;
}

blockquote{
    background-color: lightcoral;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
}

#linear{
    width: 150px;
}

#quadratic{
    width: 200px;
}

#pi{
    width: 250px;
}

#diameter{
    width: 300px;
}

#circumference{
    width: 290px;
}

#hard{
    width: 450px;
}

#mult{
    font-size: 20px;
    color: black;
}

#pi{
    font-size: 25px;
    color: black;
    font-weight: lighter;
}
